// Version 1 Variables
$primary_color: #206bb2;
$secondary_color: #03396c;

$color-white: #ffffff;
$color-black: #111111;
$color-darkgray: #211A36;
$blue-700:#485D69;
$blue-600:#edf2f6;
$grey:#5f6368;
$grey-light:#F5F5F5;
$border-color:#eaebec;

$color-error: #EF3346;
$color-success: #00AE53;

// Version 2 Variables
//$primary-font          : 'Montserrat', sans-serif;
$primary-font          : 'Open Sans', sans-serif;
$cursive-font          : 'Pacifico', cursive;

/* Colors */
$primary               : #1A69B4;
$light-primary         : #1761a9;
$normal-primary        : #11579a;
$dark-primary          : #064d90;

$danger                : #dc3545;

$warning               : #F6931F;

$info                  : #48A9F8;

$secondary             : #6c757d;
$gray-dark             : #343a40;
$muted                 : #808080;

$black                 : #000000;

